[Unit]
Description=Kodi Media Center

[Service]
User=kodi
Group=kodi
Type=simple
ExecStart=/usr/bin/kodi --standalone
KillMode=mixed
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
