# vim: ft=bitbake
# LAYER_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
LCONF_VERSION = "7"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

NEWBSROOT  = "##NEWBSROOT##"

BBLAYERS = "##OEROOT##/meta"
BBLAYERS =+ "${NEWBSROOT}/meta-openembedded/meta-oe"
BBLAYERS =+ "${NEWBSROOT}/meta-openembedded/meta-filesystems"
BBLAYERS =+ "${NEWBSROOT}/meta-openembedded/meta-multimedia"
BBLAYERS =+ "${NEWBSROOT}/meta-openembedded/meta-networking"
BBLAYERS =+ "${NEWBSROOT}/meta-openembedded/meta-webserver"
BBLAYERS =+ "${NEWBSROOT}/meta-openembedded/meta-python"
BBLAYERS =+ "${NEWBSROOT}/meta-java"
BBLAYERS =+ "${NEWBSROOT}/meta-kodi"
BBLAYERS =+ "${NEWBSROOT}/meta-raspberrypi"
BBLAYERS =+ "${NEWBSROOT}/meta-rust-bin"

BBLAYERS =+ "${NEWBSROOT}/meta-wild-common"
BBLAYERS =+ "${NEWBSROOT}/meta-newbs"
